*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    color: #ECEFF4;
}

html, body{
    width: 100%;
    height: 100%;
}

html{
    font-size: 1vw;
}

body{
    background: #171A21;
}

a{
    text-decoration: none;
}

button, input, a, svg, img{
    outline: none;
}

a, svg, article{
    cursor: pointer;
}

footer{
    color: #fff;
}