.container{
    width: 92.45rem;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
}

header.header{
    box-shadow: 0px 56px 80px rgba(0, 0, 0, 0.07), 0px 23.3955px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 12.5083px 17.869px rgba(0, 0, 0, 0.0417275), 0px 7.01207px 10.0172px rgba(0, 0, 0, 0.035), 0px 3.72406px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 1.54966px 2.21381px rgba(0, 0, 0, 0.0196802);
    padding: 1.05rem 0;
}
.header_inner, .header_item{
    justify-content: space-between;
}

.header_item:nth-child(3n){
    display: none;
}

.header-logo{
    width: 2.5rem;
    margin-right: .83rem;
}
.header_item{
    width: 2.05rem;
    margin-right: 0.8rem;
}

.header_item-title{
    font-size: .83rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 1.04rem;
    width: 3.3rem;
}

.header_item-search {
    background: #0D1017;
    border: none;
    padding: .83rem;
    font-size: .74rem;
    width: 15.5rem;
    border-radius: 5px;
}

.header_item-search::placeholder{
    color: #fff;
    opacity: 0.2;
}

nav{
    margin-right: 3.07rem;
}

.header_item-navlink{
    margin-right: 2.92rem;
    transition: 0.2s;
    font-size: 0.83rem;
    opacity: 0.4;
}

.header_item-navlink:hover{
    color: #ECEFF4;
    opacity: 1;
}

.header_item-navlink:last-child{
    margin-right: 0;
}

.header_item-usericon{
    width: 2.91rem;
    margin-right: 0.83rem;
}

.header_item-logout{
    padding: .4rem .83rem;
    border: 1px rgba(255, 255, 255, .2) solid;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.header_item-logoutLogo{
    width: 1.25rem;
    margin-right: 0.4rem;
    transition: 0.2s;
}

.header_item-logouttitle{
    font-size: .83rem;
    color: #ffffff;
    opacity: .5;
    transition: .2s;
}

.content_title{
    margin-bottom: 1.6rem;
}

section{
    padding: 2.76rem 0;
}

.content_header{
    justify-content: space-between;
    margin-bottom: 1.66rem;
}

.content_title{
  margin-bottom: 1.6rem;
}

h2{
    font-weight: 700;
    font-size: 2.08rem;
}

.content_title-link{
    color: #4825D2;
    opacity: 0.7;
    font-size: 1.25rem;
}

.content_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.display_game{
    justify-content: space-between;
    flex-direction: row;
}
.display_game-title{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: rgba(236, 239, 244, 0.4);
}

.display_game_gamename{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    color: #ECEFF4;
}

.display_game_button_pcxboxps{
    margin: 1.45rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
}

.platform_button_text{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */


    color: rgba(255, 255, 255, 0.5);
}

.display_game_desription{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */


    color: #ECEFF4;

    opacity: 0.6;
}

.display_game_price_actual{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 67px;
    color: #ECEFF4;
    margin-right: 1.4rem;
}

.display_game_price_old{
    background: #0D1017;
    border-radius: 5px;
    padding: 0.78rem;
}

.display_game_price_old_crossed{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    text-decoration-line: line-through;

    color: rgba(255, 255, 255, 0.4);
}
.display_game_price_discount{
    padding: 0.46rem;
    background: linear-gradient(180.46deg, #F15C3C 0.39%, rgba(72, 37, 210, 0.8) 102.92%);
    border-radius: 5px;
}
.display_game_price_discount_text{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */


    color: #171A21;
}

.display_game_buynow{
    margin-right: 0.83rem;
}

.display_game_buynow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: linear-gradient(0deg, #4825D2, #4825D2);
    border-radius: 5px;
}

.display_game_addtocard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
}

.display_game_photos{

}

.display_game_slides{
    justify-content: space-between;
}

.content_box_item{
    position: relative;
    width: 49%;
    height: 20.68rem;
    margin-bottom: 2.09rem;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
}
.content_box_item:nth-child(1n){
    background: url("image 17.png") no-repeat 10% 10%;
}
.content_box_item:nth-child(2n){
    background: url("Без названия (2) 1.png") no-repeat 10% 10%;
}
.content_box_item:nth-child(3n){
    background: url("image 66.png") no-repeat 10% 10%;
}
.content_box_item:nth-child(4n){
    background: url("Фон TES.png") no-repeat 10% 10%;
}
/* .content_box_item img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: ;
} */

.container_box_item_text{
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    backdrop-filter: blur(2.86rem);
    padding: 1.56rem 0.94rem 1.56rem 1.56rem;
    border-top-left-radius: 20px;
    transition: 0.5s;
}

h3{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.04rem;
}

.container_box_item_text span{
    font-size: 1.25rem;
}

.content_box_item:hover .container_box_item_text{
    bottom: 0;
}

footer{
    background: #0D1017;
    padding: 2.65rem;
}

.footer_inner{
    justify-content: space-between;
}

.footer_inner-item{
    font-size: 0.83rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    html{
        font-size: 2vm;
    }

    .display_game{
        flex-direction: column;
    }

    .container{
        width: 45.4rem;
    }
    .header_item:nth-child(2nd){
        display: none;
    }
    .header_item:nth-child(3n){
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .header_item-search{
        width: calc(26rem / 3);
    }

    .menu{
        display: block;
        position: relative;
        width: 3rem;
        height: 5px;
        background: #45484D;
        border-radius: 3px;
    }

    .menu:last-child{
        margin: 0;
    }

    .menu:after{
        position: absolute;
        top: 0;

    }

    .box{
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

